.friends {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.item {
  display: flex;
  column-gap: 10px;
  align-items: center;

  border: 1px solid aquamarine;
}
.online {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}
.ofline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}
